---
import projects from "../collections/projects.json";
import ProjectThumb from "../components/ProjectThumb.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects">

  <section class="relative w-full mx-auto lg:px-0">
    <div
      class="grid items-stretch w-full grid-cols-1 md:my-8 gap-1 sm:grid-cols-2"
    >
      {
        projects.map((project) => {
          if (project.row == 1) {
            return (
            <ProjectThumb
              name={project.name}
              description={project.description}
              image={project.image}
              url={project.url}
            />
          )
          }
        })
      }
    </div>
    <div
      class="grid items-stretch w-full grid-cols-1 my-8 gap-1 sm:grid-cols-3"
    >
      {
        projects.map((project) => {
          if (project.row == 2) {
            return (
            <ProjectThumb
              name={project.name}
              description={project.description}
              image={project.image}
              url={project.url}
            />
          )
          }
        })
      }
    </div>
    <div
      class="grid items-stretch w-full grid-cols-1 my-8 gap-1 sm:grid-cols-4"
    >
      {
        projects.map((project) => {
          if (project.row == 3) {
            return (
            <ProjectThumb
              name={project.name}
              description={project.description}
              image={project.image}
              url={project.url}
            />
          )
          }
        })
      }
    </div>
  </section>
</BaseLayout>